<%- include ('../partials/header') %>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form method="POST">
          <h2>Nova Série</h2>
          <input type="text" name="name" />
          <button>Salvar</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include ('../partials/footer') %>
